<!DOCTYPE html>
<html lang="ru">
<head>

  @@include("source/html/base/head.html")
  <title>Redsoft — Главная</title>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>

<div style="display: none;">
  @@include("build/img/sprite_auto.svg")
</div>

<div class="wrapper">
  @@include("source/html/base/header.html")

  <main>
    <section class="gallery container" id="gallery">
      <h1 class="visually-hidden">Галерея</h1>
      <h2 class="h2 gallery__title">Картины эпохи Возрождения</h2>
      <ul class="gallery__list" v-cloak>
        <li v-for="item in pictures" class="gallery__item gallery-item" :key="item.id">
          <a href="#" :class="['gallery-item', item.sold ? 'gallery-item--sold' : null]">
            <div class="gallery-item__img">
              <img :src="'img/' + item.imgSrc + '.jpg'" :srcset="'img/' + item.imgSrc + '@2x.jpg 2x'" :alt="item.title">
            </div>
            <div class="gallery-item__content">
              <h3 class="gallery-item__title">{{item.title}}</h3>
              <div class="gallery-item__footer">
                <p v-if="!item.sold" class="gallery-item__price">
                  <span v-if="item.oldPrice" class="gallery-item__old-price">{{item.oldPrice}}</span>
                  <span class="gallery-item__current-price">{{item.price}}</span>
                </p>
                <p v-else class="gallery-item__price">
                  <span>Продана на аукционе</span>
                </p>
                <button v-if="!item.sold" :class="['btn', item.loading ? 'loading' : null, item.inCart ? 'btn--in-cart' : null]" @click.prevent.stop="addToCart(item.id)">
                  <span v-if="item.loading" class="loader"></span>
                  <span v-else>
                    <svg v-if="item.inCart" fill="none" width="20" height="20" focusable="false">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                    {{ item.inCart ? 'В корзине' : 'Купить' }}
                  </span>
                </button>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </main>

  @@include("source/html/base/footer.html")

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"></script>
<script src="js/vendor.min.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>
